venv/
.ipynb_checkpoints/
data/
*.ipynb_checkpoints/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
notebook_brief1_module2.ipynb
installation.bat
venv.cmd
tests/__pycache__
src/pipeline/__pycache__